<p>User Information</p>
<div class="tablee">
    <table>
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userDetails; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item?.name}}</td>
                <td>{{item?.username}}</td>
                <td>{{item?.email}}</td>
                <td>
                    {{item?.address.street}}&nbsp;{{", " + item?.address.city}}&nbsp;{{"-" + item?.address.zipcode}}
                </td>
                <td>{{item?.phone}}</td>
                <td>{{item?.company.name}}</td>
            </tr>
            <tr *ngIf="!userDetails.length">
                <td colspan="17">No User Found</td>
            </tr>
        </tbody>
    </table>
</div>